<div class="container">
  <div>
    <h1>Symplr Webcomponent Library</h1>
    <h2>Angular Project</h2>
    <p>Demonstrates web components compiled with Direflow consumed in a sample Angular application</p>

    <sympl-button text="Default Button"></sympl-button>
    <sympl-button text="Primary Button" primary="true"></sympl-button>
    <sympl-button #splitBtn text="Split Button" id="splitBtn" split="0"></sympl-button>
    <sympl-button #customStyle text="CustomStyle JS" primary="true"></sympl-button>
    <sympl-button text="CustomStyle CSS = FAIL" className="custom-style-btn"></sympl-button>
    <sympl-datepicker placeholder="Select a Date..." label="Date Picker"></sympl-datepicker>
    <sympl-datepicker #formattedDate placeholder="Select a Date..." label="Formatted Date" id="formattedDatePicker"></sympl-datepicker>
    <sympl-datepicker #dateWithValue placeholder="Select a Date..." label="Date With Value" id="valueDatePicker"></sympl-datepicker>
  </div>
</div>
